<footer class="mt-auto pt-5">
  <hr class="w-3/4 mx-auto">
  <div class="flex flex-col md:flex-row mt-2">
    <div class="basis-full md:basis-2/12 mb-2"><img class="mx-auto d-block w-[50px]" src="assets/images/logo.svg"
        alt="I Love Chess - Logo">
    </div>
    <div class="basis-full md:basis-8/12">
      <ul class="grid grid-cols-2 md:grid-cols-3 mx-3 md:justify-items-stretch">
        <li class="text-start"><a href="index.html">Front Page</a></li>
        <li class="text-end md:text-start"><a href="two.html">Club Members</a></li>
        <li class="text-start"><a href="three.html">Club Information</a></li>
        <li class="text-end md:text-start"><a href="carousel.html">Photo Gallery</a></li>
        <li class="text-start"><a href="book.html">Book a Game</a></li>
        <li class="text-end md:text-start"><a href="play.html">Play a Game</a></li>
      </ul>
    </div>
    <div class="basis-full md:basis-2/12">
      <ul class="flex flex-row md:grid md:grid-cols-2 gap-x-2 justify-center">
        <li class="md:justify-self-end">
          <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Open Google+"><i
              class="fa-brands fa-google-plus-g"></i></a>
        </li>
        <li class="md:justify-self-start"><a href="#" target="_blank" rel="noopener noreferrer"
            aria-label="Open Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li class="md:justify-self-end"><a href="#" target="_blank" rel="noopener noreferrer"
            aria-label="Open Twitter"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="md:justify-self-start"><a href="#" target="_blank" rel="noopener noreferrer"
            aria-label="Open GitHub"><i class="fa-brands fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col mt-2 md:flex-row items-center md:text-start bg-background_dark text-white py-2">
    <img class="ms-2 w-[300px]" src="assets/images/uoc_masterbrand_2linies_blanc.png" alt="Logo">
    <p class="grow px-4 pt-4 text-center md:text-end place-self-center md:place-self-end font-bold">
      &copy; 2023 - Francisco Miguel Biete Bañón
    </p>
  </div>
</footer>