<footer class="mt-auto pt-5">
  <hr class="w-3/4 mx-auto">
  <div class="flex flex-col md:flex-row mt-2">
    <div class="basis-full md:basis-2/12 mb-2"><img class="mx-auto d-block w-[50px]" src="assets/images/logo.svg"
        alt="I Love Chess - Logo">
    </div>
    <div class="basis-full md:basis-8/12">
      <ul class="grid grid-cols-3 justify-items-stretch">
        <li><a href="index.html" class="no-underline hover:text-blue-400">Front Page</a></li>
        <li><a href="two.html" class="no-underline hover:text-blue-400">Club Members</a></li>
        <li><a href="three.html" class="no-underline hover:text-blue-400">Club Information</a></li>
        <li><a class="no-underline hover:text-blue-400" href="carousel.html">Photo Gallery</a></li>
        <li><a class="no-underline hover:text-blue-400" href="book.html">Book a Game</a></li>
        <li><a href="play.html" class="no-underline hover:text-blue-400">Play a Game</a></li>
      </ul>
    </div>
    <div class="basis-full md:basis-2/12">
      <ul class="grid grid-cols-2 gap-x-2">
        <li class="justify-self-end">
          <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Open Google+"><i
              class="fa-brands fa-google-plus-g"></i></a>
        </li>
        <li class="justify-self-start"><a href="#" target="_blank" rel="noopener noreferrer"
            aria-label="Open Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li class="justify-self-end"><a href="#" target="_blank" rel="noopener noreferrer" aria-label="Open Twitter"><i
              class="fa-brands fa-twitter"></i></a></li>
        <li class="justify-self-start"><a href="#" target="_blank" rel="noopener noreferrer" aria-label="Open GitHub"><i
              class="fa-brands fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col md:flex-row text-center md:text-start bg-background_dark text-white py-2">
    <img class="ms-2 w-[300px]" src="assets/images/uoc_masterbrand_2linies_blanc.png" alt="Logo">
    <p class="basis-full md:grow px-4 pt-4 text-center md:text-end place-self-start md:place-self-end font-bold">
      &copy; 2023 - Francisco Miguel Biete Bañón
    </p>
  </div>
</footer>