<header class="sticky top-0 bg-white z-50 flex md:flex-row">
  <a class="flex flex-row m-5 items-center no-underline text-black" href="index.html">
    <img class="max-w-[80px] mx-5" src="assets/images/logo.svg" alt="I Love Chess - Logo">
    <h1 class="font-extrabold">I Love Chess</h1>
  </a>
  <nav class="grow">
    <ul class="flex flex-column md:flex-row justify-center md:justify-end mt-5">
      <li class="me-5">
        <a class="no-underline hover:text-blue-400" href="two.html">Club Members</a>
      </li>
      <li class="me-5">
        <a class="no-underline hover:text-blue-400" href="three.html">Club Information</a>
      </li>
      <li class="me-5">
        <a class="no-underline hover:text-blue-400" href="carousel.html">Photo Gallery</a>
      </li>
      <li class="me-5">
        <a class="no-underline hover:text-blue-400" href="book.html">Book a Game</a>
      </li>
      <li class="me-5">
        <a class="no-underline hover:text-blue-400" href="play.html">Play a Game</a>
      </li>
    </ul>
  </nav>
</header>