<header class="sticky top-0 z-50 flex md:flex-row">
  <nav class="bg-white w-full">
    <div class="mx-auto px-4">
      <div class="flex justify-between">
        <div>
          <a href="index.html" class="flex items-center py-4 px-2">
            <img src="assets/images/logo.svg" alt="Logo" class="h-8 w-8 mr-2">
            <span class="text-4xl md:text-6xl text-black font-bold">I Love Chess</span>
          </a>
        </div>
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-1">
          <a class="menu-desktop-item" href="two.html">Club Members</a>
          <a class="menu-desktop-item" href="three.html">Club Information</a>
          <a class="menu-desktop-item" href="carousel.html">Photo Gallery</a>
          <a class="menu-desktop-item" href="book.html">Book a Game</a>
          <a class="menu-desktop-item" href="play.html">Play a Game</a>
        </div>
        <!-- Mobile menu button -->
        <div class="md:hidden flex items-center">
          <button id="mobile-menu-button" class="text-black text-4xl">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- mobile menu -->
    <div class="hidden mobile-menu">
      <ul class="">
        <li class="menu-mobile-item"><a href="two.html">Club Members</a></li>
        <li class="menu-mobile-item"><a href="three.html">Club Information</a></li>
        <li class="menu-mobile-item"><a href="carousel.html">Photo Gallery</a></li>
        <li class="menu-mobile-item"><a href="book.html">Book a Game</a></li>
        <li class="menu-mobile-item"><a href="play.html">Play a Game</a></li>
      </ul>
    </div>
    <script>
      const btn = document.getElementById("mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </nav>
</header>