<!-- <div class="basis-full md:basis-1/3 w-80 h-92 rounded-md border-2 border-rose-500"> -->
<div class="relative max-w-sm h-[500px] border border-gray-200 rounded-lg shadow bg-white">
  <picture>
    <source media="(min-width: 640px)" srcset="assets/images/{{ img_md }}?as=webp" type="image/webp">
    <source media="(min-width: 320px)" srcset="assets/images/{{ img_sm }}?as=webp" type="image/webp">
    <!-- <img src="assets/images/{{ img_sm }}" alt="{{ img_alt }}" class="h-auto max-h-80 max-w-full object-cover"> -->
    <img src="assets/images/{{ img_sm }}" alt="{{ img_alt }}"
      class="rounded-t-lg w-full h-[300px] object-cover {{ img_position }}">
  </picture>
  <div class="px-5">
    <h2 class="font-caveat font-bold text-center">{{ member_title }}</h2>
    <p class="">{{ member_text }}</p>
  </div>
  <div class="absolute bottom-0 left-0 w-full text-center p-2 border-t-2 bg-teal-100">
    <p><b>ELO:</b> {{ member_elo }}</p>
  </div>
</div>