/*------------------------------------*\
  # Component - Footer
\*------------------------------------*/

.o-footer {
  img {
    height: 50px;
  }
}

.o-footer-dark {
  background-color: var(--bs-gray-900);
  color: var(--bs-light);

  a {
    color: var(--bs-danger);
  }
}

.o-footer__copy {
  background-color: $body-color;
  color: $body-bg;
  font-weight: 600;

  img {
    max-width: 300px;
    height: 100%;
  }
}

.o-footer__social {
  li {
    margin-left: 1em;
  }
}